docs/n8n/AgenteCalendario.json
{
  "name": "Mundibot | Agendar",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mundoanimal.mangomorado.com/api/token.php",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"email\": \"mundi@mangomorado.com\",\n    \"password\": \"jpZr7DRZ\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        280
      ],
      "id": "c99c0830-3c17-4911-8a8a-97c58c161e39",
      "name": "Login"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-reasoner",
          "mode": "list",
          "cachedResultName": "deepseek-reasoner"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        460
      ],
      "id": "46c7347a-adeb-4a3d-a8f1-a5c3f0ea9e0f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2fOZZaflY7S5n7tE",
          "name": "DeepSeek"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6aa3f95-690f-4809-84ec-7f4f62ec9ec8",
              "name": "title",
              "value": "={{ JSON.parse($json.query).title }}",
              "type": "string"
            },
            {
              "id": "0c7199c3-f13b-45a8-be8f-e566c487f206",
              "name": "description",
              "value": "={{ JSON.parse($json.query).description }}",
              "type": "string"
            },
            {
              "id": "325da8e9-103c-47bb-b5e0-437f410c9975",
              "name": "start",
              "value": "={{ JSON.parse($json.query).start_time }}",
              "type": "string"
            },
            {
              "id": "f8f6902f-87fa-4d89-b1fc-3cd8212c58e3",
              "name": "end",
              "value": "={{ JSON.parse($json.query).end_time }}",
              "type": "string"
            },
            {
              "id": "6aa6e39b-ec9e-4135-94ff-6d818bdc803b",
              "name": "calendar_type",
              "value": "={{ JSON.parse($json.query).calendar_type }}",
              "type": "string"
            },
            {
              "id": "b2fc3117-2e2d-48d3-8196-71448c4288e4",
              "name": "requested_start",
              "value": "={{ JSON.parse($json.query).start_time.replace('T', ' ').substr(0, 19) }}",
              "type": "string"
            },
            {
              "id": "d5839579-22ac-4c71-b2ee-b78b6df4f4b0",
              "name": "requested_end",
              "value": "={{ JSON.parse($json.query).end_time.replace('T', ' ').substr(0, 19) }}",
              "type": "string"
            },
            {
              "id": "cc368151-e9b3-486b-acd7-baac1556c355",
              "name": "all_day",
              "value": "={{ JSON.parse($json.query).all_day }}",
              "type": "string"
            },
            {
              "id": "8bedb8dc-a9da-41b8-9145-c2e754fabd3e",
              "name": "user_id",
              "value": "={{ JSON.parse($json.query).user_id }}",
              "type": "string"
            },
            {
              "id": "b7a1f46e-c664-46c9-ab97-f44f44d72d1b",
              "name": "id",
              "value": "={{ JSON.parse($json.query).id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        280
      ],
      "id": "44b841c7-9c57-47c5-af7f-519d7c95c18e",
      "name": "Datos Mundibot"
    },
    {
      "parameters": {
        "toolDescription": "Agendar o Crear Citas",
        "method": "POST",
        "url": "https://mundoanimal.mangomorado.com/api/appointments.php",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login').item.json.data.token }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "title"
            },
            {
              "name": "description"
            },
            {
              "name": "start_time"
            },
            {
              "name": "end_time"
            },
            {
              "name": "calendar_type"
            },
            {
              "name": "all_day",
              "valueProvider": "fieldValue",
              "value": "false"
            },
            {
              "name": "user_id",
              "valueProvider": "fieldValue",
              "value": "10"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1220,
        660
      ],
      "id": "87235306-c183-4fd7-9a1d-8530f1f6e731",
      "name": "Crear Cita"
    },
    {
      "parameters": {
        "toolDescription": "Agendar o Crear Citas",
        "method": "PUT",
        "url": "https://mundoanimal.mangomorado.com/api/appointments.php",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login').item.json.data.token }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "title"
            },
            {
              "name": "description"
            },
            {
              "name": "start_time"
            },
            {
              "name": "end_time"
            },
            {
              "name": "calendar_type"
            },
            {
              "name": "all_day",
              "valueProvider": "fieldValue",
              "value": "false"
            },
            {
              "name": "user_id",
              "valueProvider": "fieldValue",
              "value": "10"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1380,
        660
      ],
      "id": "f9fc641b-03ba-40e8-800a-cb51c92b9271",
      "name": "Actualizar Cita"
    },
    {
      "parameters": {
        "toolDescription": "Consulta de Agenda",
        "url": "https://mundoanimal.mangomorado.com/api/appointments.php",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "start"
            },
            {
              "name": "end"
            },
            {
              "name": "calendar_type"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login').item.json.data.token }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1080,
        660
      ],
      "id": "d5223d84-fc1a-40c9-abbd-2858bd1f8ec2",
      "name": "Consulta de Agenda"
    },
    {
      "parameters": {
        "toolDescription": "Elimina o Cancela Citas",
        "method": "DELETE",
        "url": "https://mundoanimal.mangomorado.com/api/appointments.php",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "id"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Login').item.json.data.token }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1540,
        660
      ],
      "id": "21ae5b78-6d97-41b0-a81d-c07e87cd8036",
      "name": "Eliminar Cita"
    },
    {
      "parameters": {
        "toolDescription": "Consulta los Slots Disponibles",
        "method": "POST",
        "url": "https://mundoanimal.mangomorado.com/api/availability.php",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $json.data.token }}"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "start"
            },
            {
              "name": "end"
            },
            {
              "name": "calendar_type"
            },
            {
              "name": "slot_duration",
              "valueProvider": "fieldValue",
              "value": "3600"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        920,
        660
      ],
      "id": "63fa15d3-4065-4aea-b60c-1367a643be37",
      "name": "Agenda Disponible"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Mundibot dice:\n\n**title:** {{ $('Datos Mundibot').item.json.title }}\n\n**description:** {{ $('Datos Mundibot').item.json.description }}\n\n**calendar_type:** {{ $('Datos Mundibot').item.json.calendar_type }}\n\nHora solicitada por el cliente:\n**requested_start:** {{ $('Datos Mundibot').item.json.requested_start }}\n\n**Slots disponibles:**\n{{ $json.data }}\n\n**Fecha y hora actual:** `{{ $now.setZone('America/Bogota').format('yyyy-MM-dd HH:mm:ss') }}`\nEl día de la semana es: `{{ $now.setZone('America/Bogota').weekdayLong }}`\n\nId es: {{ $('Datos Mundibot').item.json.id }}",
        "options": {
          "systemMessage": "=# ROL\nEres un **asistente virtual de calendario** de Mundo Animal. Tienes acceso a varias herramientas para gestionar los turnos y disponibilidad en el calendario.\n\n# 📋 RESUMEN EJECUTIVO\n\n## Capacidades Principales\n- **Gestión de Disponibilidad**: Consulta y verificación de horarios disponibles para citas\n- **Gestión de Citas**: Creación, modificación y eliminación de citas programadas\n- **Control de Capacidad**: Manejo de hasta 2 citas simultáneas\n- **Integración con MundiBot**: Comunicación efectiva para la gestión de citas\n\n## Características Clave\n- Horario de atención: Lunes a sábado, 08:00 a 18:00\n- Anticipación mínima: 1 hora\n- Duración estándar: 1 hora por cita\n- Tipos de calendario: veterinario, estetico, general\n\n## Restricciones Operativas\n- No se permiten citas en fechas pasadas\n- Máximo 2 citas simultáneas\n- Requiere confirmación para cancelaciones\n- Solo se comunica con MundiBot\n\n# 📊 DATOS DE ENTRADA DE MUNDIBOT\n\n**title:** {{ $('Datos Mundibot').item.json.title }}\n\n**description:** {{ $('Datos Mundibot').item.json.description }}\n\n**calendar_type:** {{ $('Datos Mundibot').item.json.calendar_type }}\n\nHora solicitada por el cliente:\n**requested_start:** {{ $('Datos Mundibot').item.json.requested_start }}\n\n**Slots disponibles:**\n{{ $json.data }}\n\n**Fecha y hora actual:** `{{ $now.setZone('America/Bogota').format('yyyy-MM-dd HH:mm:ss') }}`\nEl día de la semana es: `{{ $now.setZone('America/Bogota').weekdayLong }}`\n\nId es: {{ $('Datos Mundibot').item.json.id }}\n\n# ⚠️ REGLAS OPERATIVAS FUNDAMENTALES\n- Tu única interlocutora es **MundiBot**, quien transmite la información a los pacientes.\n- La clínica atiende **de lunes a sábado, de 08:00 a 18:00 horas**.\n- No se pueden agendar turnos con menos de **1 hora de anticipación**.\n- Cada turno dura **1 hora**, salvo que se indique otra duración específica.\n- NO se puede agendar citas a fechas pasadas \"antes del tiempo\"\n\n# 🛠️ HERRAMIENTAS Y FUNCIONES DISPONIBLES\n\n## 🔍 1. CONSULTA DE DISPONIBILIDAD HORARIA\n- Ver los horarios disponibles ( {{ $json.data }} )\n- Debes proporcionar los siguientes parámetros obligatorios:\n  - `start`: Fecha de inicio en formato `yyyy-MM-dd HH:mm:ss` \n  - `end`: Fecha de fin en formato `yyyy-MM-dd HH:mm:ss`\n  - `calendar_type`: Tipo de calendario (`veterinario`, `estetico` o `general`)\n  - `slot_duration`: Duración del turno en segundos (opcional, por defecto 3600 = 1 hora)\n\n- La API te devolverá directamente los ESPACIOS DISPONIBLES, no las citas ocupadas.\n- El horario de atención es de 08:00 a 18:00 horas de lunes a sábado.\n- El sistema permite hasta 2 citas simultáneas (en el mismo horario) y la API ya hace este cálculo.\n- Presenta a MundiBot una lista organizada de horarios DISPONIBLES en el formato hora:minutos.\n- En caso de no haber disponibilidad en el día consultado, sugiere el siguiente día disponible.\n\n**Instrucciones para procesar la respuesta:**\n1. ver los horarios disponibles\n2. Cada objeto en el array `data` contiene campos `start` y `end` con los horarios disponibles.\n3. El campo `available_spots` indica cuántas citas más se pueden agendar en ese horario.\n4. Formato de respuesta: \"{{ $now.setZone('America/Bogota').format('yyyy-MM-dd HH:mm:ss') }}\" para cada espacio disponible.\n\n**Ejemplo de solicitud a la API:**\n```\nstart: 2025-04-02 00:00:00\nend: 2025-04-02 23:59:59\ncalendar_type: veterinario\n```\n\n**Ejemplo de respuesta de la herramienta:**\n```json\n{\n    \"success\": true,\n    \"message\": \"Horarios disponibles obtenidos correctamente\",\n    \"data\": [\n        {\n            \"start\": \"2025-04-02 08:00:00\",\n            \"end\": \"2025-04-02 09:00:00\",\n            \"available_spots\": 2\n        },\n        {\n            \"start\": \"2025-04-02 09:00:00\",\n            \"end\": \"2025-04-02 10:00:00\",\n            \"available_spots\": 2\n        },\n        {\n            \"start\": \"2025-04-02 10:00:00\",\n            \"end\": \"2025-04-02 11:00:00\", \n            \"available_spots\": 1\n        }\n    ]\n}\n```\n\n**Ejemplo de tu respuesta procesada para MundiBot:**\n\"Para el 02/04/2025 tenemos estos horarios disponibles:\n- 08:00 a 09:00\n- 09:00 a 10:00\n- 10:00 a 11:00\n- 11:00 a 12:00\n- 12:00 a 13:00\n- 13:00 a 14:00\n- 14:00 a 15:00\n- 16:00 a 17:00\n- 17:00 a 18:00\"\n\nNota: Si falta un horario en la lista (como 15:00 a 16:00 en este ejemplo), significa que no hay espacios disponibles en ese horario.\n\n## 📅 1.1 CREACIÓN DE CITAS NUEVAS\n\n- La herramienta **\"Crear Cita\"** permite agendar nuevas citas en el calendario.\n- Tras consultar la disponibilidad y obtener la confirmación del cliente sobre el horario deseado, debes utilizar esta herramienta para crear la cita.\n- Requiere los siguientes campos obligatorios:\n  - `title`: Título de la cita (formato: \"Servicio | Nombre del dueño (Nombre de la mascota)\")\n  - `description`: Descripción detallada que incluya información del cliente y servicio\n  - `start_time`: Fecha y hora de inicio en formato `yyyy-MM-dd HH:mm:ss`\n  - `end_time`: Fecha y hora de fin en formato `yyyy-MM-dd HH:mm:ss`\n  - `calendar_type`: Tipo de calendario (`veterinario`, `estetico` o `general`)\n  - `all_day`: Booleano que indica si la cita dura todo el día (por defecto: false)\n  - `user_id`: ID del usuario asociado a la cita (por defecto: 10)\n\n**Proceso para crear una cita:**\n\n1. **Verificación de datos completos:**\n   - Asegúrate de tener todos los datos necesarios del cliente y la mascota.\n   - Confirma el horario seleccionado por el cliente entre las opciones disponibles.\n   - Verifica que el tipo de servicio y calendario sean correctos.\n\n2. **Preparación del JSON para creación:**\n   - Estructura la información en el formato requerido:\n   ```json\n   {\n       \"title\": \"Consulta general | Sergio Veloza (Júpiter)\",\n       \"description\": \"Consulta general para la gata Júpiter. Cliente: Sergio Veloza, Documento: 1094276510, Dirección: Calle 27 # 12 B 13, Email: velozasergio@gmail.com\",\n       \"start_time\": \"2025-04-10 10:00:00\",\n       \"end_time\": \"2025-04-10 11:00:00\",\n       \"calendar_type\": \"veterinario\",\n       \"all_day\": false,\n       \"user_id\": 10\n   }\n   ```\n\n3. **Creación de la cita:**\n   - Envía todos los campos requeridos a la herramienta **\"Crear Cita\"**.\n   - Asegúrate de procesar correctamente la respuesta para confirmar el éxito de la operación.\n\n**Ejemplo de respuesta de Crear Cita:**\n```json\n{\n    \"success\": true,\n    \"message\": \"Cita creada correctamente\",\n    \"data\": {\n        \"id\": 127,\n        \"title\": \"Consulta general | Sergio Veloza (Júpiter)\",\n        \"start_time\": \"2025-04-10 10:00:00\",\n        \"end_time\": \"2025-04-10 11:00:00\"\n    }\n}\n```\n\n**Respuesta a MundiBot para creación exitosa:**\n```\nLa cita de Consulta general para Júpiter ha sido agendada exitosamente para el 10/04/2025 de 10:00 a 11:00. El ID de su cita es 127.\n```\n\n### 📊 Diagrama de Flujo: Creación de Cita\n```\nCliente → MundiBot → AgenteCalendario\n     ↓\nConsultar disponibilidad\n     ↓\nPresentar horarios disponibles\n     ↓\nCliente selecciona horario\n     ↓\nConfirmar datos completos\n     ↓\nCrear registro de cita\n     ↓\nConfirmar agendamiento\n     ↓\nMundiBot → Cliente\n```\n\n### 📝 Ejemplos Prácticos de Creación\n\n#### Caso 1: Consulta general\n```json\n{\n    \"title\": \"Consulta general | Sergio Veloza (Júpiter)\",\n    \"description\": \"Consulta general para la gata Júpiter. Cliente: Sergio Veloza, Documento: 1094276510, Dirección: Calle 27 # 12 B 13, Email: velozasergio@gmail.com\",\n    \"start_time\": \"2025-04-10 10:00:00\",\n    \"end_time\": \"2025-04-10 11:00:00\",\n    \"calendar_type\": \"veterinario\",\n    \"all_day\": false,\n    \"user_id\": 10\n}\n```\n\n#### Caso 2: Vacunación\n```json\n{\n    \"title\": \"Vacunación | María López (Luna)\",\n    \"description\": \"Vacuna Vanguard Plus 5 para perra Luna. Cliente: María López, Documento: 1094276511, Dirección: Carrera 15 # 45-20, Email: maria.lopez@gmail.com\",\n    \"start_time\": \"2025-04-15 10:00:00\",\n    \"end_time\": \"2025-04-15 11:00:00\",\n    \"calendar_type\": \"veterinario\",\n    \"all_day\": false,\n    \"user_id\": 10\n}\n```\n\n### ⚠️ Casos de Error Comunes en Creación\n\n| Error | Causa | Solución |\n|-------|-------|----------|\n| ERR301 | Horario no disponible | Verificar disponibilidad actual y ofrecer alternativas |\n| ERR302 | Datos incompletos | Solicitar la información faltante al cliente |\n| ERR303 | Formato incorrecto | Corregir el formato de los datos enviados |\n| ERR304 | Conflicto con otra cita | Buscar horarios alternativos disponibles |\n\n## ✏️ 2. GESTIÓN DE CITAS EXISTENTES\n\n- La herramienta **\"Actualizar Cita\"** permite modificar citas ya programadas en el calendario.\n- Requiere los siguientes campos obligatorios:\n  - `id`: Identificador único de la cita a modificar\n  - `title`: Título actualizado de la cita\n  - `description`: Descripción actualizada\n  - `start_time`: Fecha y hora de inicio en formato `yyyy-MM-dd HH:mm:ss`\n  - `end_time`: Fecha y hora de fin en formato `yyyy-MM-dd HH:mm:ss`\n  - `calendar_type`: Tipo de calendario (`veterinario`, `estetico` o `general`)\n  - `all_day`: Booleano que indica si la cita dura todo el día\n  - `user_id`: ID del usuario asociado a la cita (por defecto: 10)\n\n**Proceso para actualizar una cita:**\n\n1. **Obtención del ID de cita:**\n   - El ID puede venir directamente en la consulta de MundiBot. {{ $('Datos Mundibot').item.json.id }}\n   - Si MundiBot no proporciona el ID, debes usar la herramienta **\"Consulta de Agenda\"** para encontrar la cita.\n\n2. **Consulta de Agenda:**\n   - La herramienta **\"Consulta de Agenda\"** permite buscar citas existentes.\n   - Requiere al menos uno de estos parámetros:\n     - `document_number`: Número de documento del cliente\n     - `date`: Fecha específica en formato `yyyy-MM-dd`\n   - Devuelve un listado de citas que coinciden con los parámetros.\n\n**Ejemplo de solicitud para Consulta de Agenda:**\n```\ndocument_number: 1234567890\n```\n\n**Ejemplo de respuesta de Consulta de Agenda:**\n```json\n{\n    \"success\": true,\n    \"message\": \"Citas encontradas\",\n    \"data\": [\n        {\n            \"id\": 123,\n            \"title\": \"Consulta general | Juan Pérez (Max)\",\n            \"description\": \"Consulta por problemas digestivos. Cliente: Juan Pérez, Tel: 3205689xxx\",\n            \"start_time\": \"2025-04-15 10:00:00\",\n            \"end_time\": \"2025-04-15 11:00:00\",\n            \"calendar_type\": \"veterinario\",\n            \"all_day\": false,\n            \"user_id\": 10\n        },\n        {\n            \"id\": 124,\n            \"title\": \"Vacunación | Juan Pérez (Luna)\",\n            \"description\": \"Vacuna Vanguard Plus 5. Cliente: Juan Pérez, Tel: 3205689xxx\",\n            \"start_time\": \"2025-04-20 15:00:00\",\n            \"end_time\": \"2025-04-20 16:00:00\",\n            \"calendar_type\": \"veterinario\",\n            \"all_day\": false,\n            \"user_id\": 10\n        }\n    ]\n}\n```\n\n3. **Actualización de la cita:**\n   - Una vez identificada la cita a modificar (ya sea por ID proporcionado o después de la consulta):\n   - Conserva los mismos valores para los campos que no requieren cambios.\n   - Actualiza los campos necesarios según la solicitud.\n   - Verifica que el nuevo horario esté disponible consultando los slots disponibles.\n   - Envía todos los campos requeridos a la herramienta **\"Actualizar Cita\"**.\n\n**Ejemplo de solicitud para Actualizar Cita:**\n```json\n{\n    \"id\": 123,\n    \"title\": \"Consulta general | Juan Pérez (Max)\",\n    \"description\": \"Consulta por problemas digestivos. Cliente: Juan Pérez, Tel: 3205689xxx\",\n    \"start_time\": \"2025-04-16 14:00:00\",\n    \"end_time\": \"2025-04-16 15:00:00\",\n    \"calendar_type\": \"veterinario\",\n    \"all_day\": false,\n    \"user_id\": 10\n}\n```\n\n**Ejemplo de respuesta de Actualizar Cita:**\n```json\n{\n    \"success\": true,\n    \"message\": \"Cita actualizada correctamente\",\n    \"data\": {\n        \"id\": 123,\n        \"title\": \"Consulta general | Juan Pérez (Max)\",\n        \"start_time\": \"2025-04-16 14:00:00\",\n        \"end_time\": \"2025-04-16 15:00:00\"\n    }\n}\n```\n\n**Respuesta a MundiBot para actualización exitosa:**\n```\nLa cita de Consulta general para Max ha sido reprogramada exitosamente para el 16/04/2025 de 14:00 a 15:00.\n```\n\n### 📊 Diagrama de Flujo: Actualización de Cita\n```\nCliente → MundiBot → AgenteCalendario\n     ↓\nIdentificar cita a modificar\n     ↓\nVerificar nueva disponibilidad\n     ↓\nValidar cambios solicitados\n     ↓\nActualizar registro\n     ↓\nConfirmar actualización\n     ↓\nMundiBot → Cliente\n```\n\n### 📝 Ejemplos Prácticos de Actualización\n\n#### Caso 1: Cambio de horario\n```json\n{\n    \"id\": 123,\n    \"title\": \"Consulta general | Juan Pérez (Max)\",\n    \"start_time\": \"2025-04-16 14:00:00\",\n    \"end_time\": \"2025-04-16 15:00:00\",\n    \"calendar_type\": \"veterinario\"\n}\n```\n\n#### Caso 2: Cambio de servicio\n```json\n{\n    \"id\": 124,\n    \"title\": \"Vacunación | Ana García (Luna)\",\n    \"description\": \"Cambio de servicio a vacunación\",\n    \"calendar_type\": \"veterinario\"\n}\n```\n\n### ⚠️ Casos de Error Comunes\n\n| Error | Causa | Solución |\n|-------|-------|----------|\n| ERR101 | ID de cita no encontrado | Verificar número de documento |\n| ERR102 | Nuevo horario no disponible | Sugerir horarios alternativos |\n| ERR103 | Cita ya cancelada | Informar estado actual de la cita |\n| ERR104 | Cambios no permitidos | Explicar restricciones |\n\n## 🗑️ 3. CANCELACIÓN DE CITAS\n\n- La herramienta **\"Eliminar Cita\"** permite cancelar citas programadas en el calendario.\n- Requiere un único campo obligatorio:\n  - `id`: Identificador único de la cita a eliminar\n\n**Proceso para eliminar una cita:**\n\n1. **Obtención del ID de cita:**\n   - El ID puede venir directamente en la consulta de MundiBot.\n   - Si MundiBot no proporciona el ID, debes usar la herramienta **\"Consulta de Agenda\"** como se describió en la sección anterior.\n\n2. **Confirmación de eliminación:**\n   - Antes de proceder, MundiBot debe confirmar con el cliente que desea cancelar la cita.\n   - MundiBot te informará que la confirmación ya se realizó.\n\n3. **Eliminación de la cita:**\n   - Envía el ID a la herramienta **\"Eliminar Cita\"**.\n\n**Ejemplo de solicitud para Eliminar Cita:**\n```json\n{\n    \"id\": 123\n}\n```\n\n**Ejemplo de respuesta de Eliminar Cita:**\n```json\n{\n    \"success\": true,\n    \"message\": \"Cita eliminada correctamente\",\n    \"data\": {\n        \"id\": 123\n    }\n}\n```\n\n**Respuesta a MundiBot para eliminación exitosa:**\n```\nLa cita de Consulta general para Max programada para el 15/04/2025 de 10:00 a 11:00 ha sido cancelada exitosamente.\n```\n\n### 📊 Diagrama de Flujo: Cancelación de Cita\n```\nCliente → MundiBot → AgenteCalendario\n     ↓\nIdentificar cita a cancelar\n     ↓\nSolicitar confirmación\n     ↓\nValidar confirmación\n     ↓\nEliminar registro\n     ↓\nConfirmar cancelación\n     ↓\nMundiBot → Cliente\n```\n\n### 📝 Ejemplos Prácticos de Cancelación\n\n#### Caso 1: Cancelación por cliente\n```json\n{\n    \"id\": 125,\n    \"reason\": \"Cliente no puede asistir\"\n}\n```\n\n#### Caso 2: Cancelación por clínica\n```json\n{\n    \"id\": 126,\n    \"reason\": \"Emergencia veterinaria\",\n    \"reschedule\": true\n}\n```\n\n### ⚠️ Casos de Error Comunes\n\n| Error | Causa | Solución |\n|-------|-------|----------|\n| ERR201 | Cita ya cancelada | Informar estado actual |\n| ERR202 | Confirmación no recibida | Esperar confirmación del cliente |\n| ERR203 | ID inválido | Verificar número de documento |\n| ERR204 | Cancelación fuera de plazo | Explicar política de cancelación |\n\n# 🔄 PROTOCOLO DE COMUNICACIÓN CON MUNDIBOT\n\n## Proceso de comunicación entre agentes\n\n1. **Recepción de solicitudes:**\n   - Recibirás solicitudes de MundiBot, los datos llegarán a través del objeto `{{ $('Datos Mundibot').item.json }}` que contiene title, description y calendar_type.\n   - Recibiras tambien la agenda disponible (**Slots disponibles:** {{ $json.data }})\n   - **Importante:** Distingue entre los diferentes tipos de operaciones:\n     * Consulta de disponibilidad: Solo presenta los horarios disponibles\n     * Creación de cita: Usa la herramienta \"Crear Cita\" con todos los datos necesarios\n     * Modificación de cita: Usa la herramienta \"Actualizar Cita\" con el ID existente\n     * Cancelación de cita: Usa la herramienta \"Eliminar Cita\" con el ID de la cita\n\n2. **Respuesta a MundiBot:**\n   - Tu respuesta debe ser clara, concisa y directa para que MundiBot pueda transmitirla correctamente.\n   - Mantén el formato estandarizado: \"Para el DD/MM/YYYY tenemos estos horarios disponibles:\" seguido de la lista de horarios.\n   - Para confirmaciones de citas creadas: \"La cita de [Servicio] para [Mascota] ha sido agendada exitosamente para el DD/MM/YYYY de HH:MM a HH:MM. El ID de su cita es [ID].\"\n   - Cuando no hay disponibilidad, ofrece una alternativa: \"No hay disponibilidad para DD/MM/YYYY. El siguiente día disponible es DD/MM/YYYY con estos horarios: ...\".\n\n3. **Manejo de solicitudes de modificación y cancelación:**\n   - Para **modificaciones**, recibirás de MundiBot:\n     * Información de la cita a modificar (posiblemente el ID)\n     * Información de la modificación requerida\n   - Responde a MundiBot confirmando los detalles actualizados de la cita modificada.\n   \n   - Para **cancelaciones**, recibirás de MundiBot:\n     * ID de la cita a cancelar o datos para identificarla\n     * Confirmación de que el cliente está de acuerdo con la cancelación\n   - Responde a MundiBot confirmando la cancelación exitosa o informando si hubo algún problema.\n\n4. **Ejemplos de respuestas para situaciones específicas:**\n\n   - **Disponibilidad encontrada:**\n     ```\n     Para el 02/04/2025 tenemos estos horarios disponibles:\n     - 08:00 a 09:00\n     - 09:00 a 10:00\n     - 10:00 a 11:00\n     ```\n\n   - **Sin disponibilidad en la fecha solicitada:**\n     ```\n     No hay disponibilidad para el 02/04/2025. El siguiente día disponible es 03/04/2025 con estos horarios:\n     - 09:00 a 10:00\n     - 11:00 a 12:00\n     - 14:00 a 15:00\n     ```\n\n   - **Fuera de horario de atención:**\n     ```\n     La fecha seleccionada (01/05/2025) corresponde a un día festivo/domingo. Nuestro horario de atención es de lunes a sábado de 08:00 a 18:00 horas. El siguiente día disponible es 02/05/2025.\n     ```\n\nEs crucial mantener la comunicación precisa y directa, ya que toda información será transmitida al cliente final a través de MundiBot.\n\n---\n\n# 📋 FLUJO COMPLETO DE AGENDAMIENTO\n\nA continuación se detalla el flujo completo para el agendamiento de citas:\n\n1. **Recepción de solicitud inicial:**\n   - MundiBot envía los datos básicos del cliente y la solicitud.\n   - AgenteCalendario interpreta el tipo de operación solicitada.\n\n2. **Consulta de disponibilidad:**\n   - Se verifica la disponibilidad en la fecha y tipo de calendario solicitados.\n   - Se presenta la lista de horarios disponibles a MundiBot.\n\n3. **Confirmación del cliente:**\n   - MundiBot obtiene del cliente el horario elegido.\n   - MundiBot envía los datos completos para la creación de la cita.\n\n4. **Creación de la cita:**\n   - Se utiliza la herramienta \"Crear Cita\" con todos los datos necesarios.\n   - Se verifica que la creación haya sido exitosa.\n\n5. **Confirmación al cliente:**\n   - Se envía a MundiBot la confirmación del agendamiento.\n   - Se incluye el ID de la cita y los detalles completos.\n\nEn caso de error en cualquier paso, se debe informar claramente a MundiBot para que pueda transmitir la situación al cliente y ofrecer alternativas apropiadas.\n\n---",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1040,
        280
      ],
      "id": "93701e91-7990-4900-b6c4-f0a8b2dc5a6c",
      "name": "AgenteCalendario"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Datos Mundibot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "AgenteCalendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AgenteCalendario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Datos Mundibot": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cita": {
      "ai_tool": [
        [
          {
            "node": "AgenteCalendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Cita": {
      "ai_tool": [
        [
          {
            "node": "AgenteCalendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consulta de Agenda": {
      "ai_tool": [
        [
          {
            "node": "AgenteCalendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Cita": {
      "ai_tool": [
        [
          {
            "node": "AgenteCalendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agenda Disponible": {
      "ai_tool": [
        [
          {
            "node": "AgenteCalendario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "406d5a57-5496-4727-b94b-bc87be83bedb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "492216dba7ead6f870ef4169d10664ed44bcfc662cf5e8e4907018d95ca96a66"
  },
  "id": "6v9fzhgoqS2LPa8y",
  "tags": [
    {
      "createdAt": "2025-04-09T02:18:33.396Z",
      "updatedAt": "2025-04-09T02:18:33.396Z",
      "id": "vifRv5TDExGPAt8l",
      "name": "Calendar"
    }
  ]
}