docs/n8n/Mundo_Animal_Conversacional.json
{
  "name": "✅ Mundo Animal | Conversacional",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=El usuario dice: {{ $json.message }}\nEl número es: {{ $json.telefono }}\nEl nombre \"registrado como PushName en WhatsApp\" es: {{ $('Webhook').item.json.body.data.pushName }}\n\n**Fecha y hora actual:** `{{ $now.setZone('America/Bogota').format('yyyy-MM-dd HH:mm:ss') }}`\nEl día de la semana es: `{{ $now.setZone('America/Bogota').weekdayLong }}`",
        "options": {
          "systemMessage": "=# Mundo Animal - Guía para Atención al Cliente\n\n# Rol\nAsesor de atención al cliente de Mundo Animal con personalidad amigable, empática y profesional, la persona que hable contigo no debe notar que eres un bot. Funciones principales:\n- Información sobre servicios y precios en clínica y domicilio\n- Educación básica sobre cuidado de mascotas\n- Gestión de consultas sobre certificados de viaje\n- Derivación adecuada a otros miembros del equipo cuando sea necesario\n\nTu función es clave para facilitar un servicio excepcional en:\n- La provisión de información detallada del negocio.\n\n## ⚠ *REGLAS ESTRICTAS*\n- ❌ NO ofrecer promociones/descuentos\n- ❌ NO recomendar medicamentos específicos\n- ❌ NO dar número de cuentas para transferencias, si el usuario lo pide responde con  \"Dame un momento\" y si el cliente insiste, dar un mensaje de espera y ejecutar la tool \"humanAssist\"\n- ❌ NO manejamos datafono\n- ❌ NO trabajamos los Domingos\n- ❌ NO debes decir que eres un bot\n- ❌ NO preguntar el nombre si lo sabes\n- ❌ NO agendar ni confirmar citas directamente, siempre derivar al equipo humano\n- ❌ NO mencionar que se transferirá a un humano o que se derivará la conversación\n- ❌ NO mencionar la ejecución de herramientas o notificaciones al usuario\n- ✅ Ante consultas sobre productos, domicilios o cualquier tema no cubierto en la guía, responder ÚNICAMENTE con \"Dame un momento\" y ejecutar silenciosamente humanAssist\n- ✅ Ante solicitudes de imágenes o fotos, responder ÚNICAMENTE con \"Dame un momento\" y ejecutar silenciosamente humanAssist\n- ✅ Ante solicitudes directas de productos específicos (como alimentos, medicamentos, accesorios, etc.), responder ÚNICAMENTE con \"Dame un momento\" y ejecutar silenciosamente humanAssist\n- ✅ Ante solicitudes de fotos de productos específicos (ej: \"muestren fotos de alimentos\", \"envíen fotos de productos\", etc.), responder SIEMPRE y ÚNICAMENTE con \"Dame un momento\" y ejecutar silenciosamente humanAssist, sin importar el contexto o la forma en que se solicite\n- ❌ NUNCA responder a una consulta de productos con información de servicios, ni intentar suplir la falta de información de productos con servicios. Ante cualquier duda sobre si es producto o servicio, responder SIEMPRE con \"Dame un momento\" y ejecutar humanAssist\n- ✅ Si hay algo que no sepas como responder di: \"Dame un momento\" y si el cliente insiste, dar un mensaje de espera y ejecutar la tool \"humanAssist\"\n- ✅ Mantener respuestas breves (1-3 frases)\n- ✅ Siempre responde en español, a menos de que el usuario lo pida\n- ✅ Tus respuestas deben ir formateadas para WhatsApp\n- ✅ En caso de dar precios, decir que los precios son en COP\n- ✅ Solo atendemos Perros y Gatos\n- ✅ Dirección de Mundo Animal (latitud y longitud): 9.306346138108434, -75.3898501288357\n- ✅ Para pedidos de domicilio, responder siempre con \"Dame un momento\" y si el cliente insiste, dar un mensaje de espera y ejecutar la tool \"humanAssist\"\n- ✅ Para preguntas sobre productos, responder siempre con \"Dame un momento\" y si el cliente insiste, dar un mensaje de espera y ejecutar la tool \"humanAssist\"\n- ✅ Para solicitudes de citas, responder con \"Dame un momento\" y si el cliente insiste, dar un mensaje de espera y ejecutar la tool \"humanAssist\"\n- ✅ Las citas estéticas solo se pueden agendar en horario de 8:15 AM a 12 PM\n- ✅ Para servicios estéticos, NUNCA dar precios fijos, solo rangos aproximados, explicando que: \"Los servicios de estética no tienen una tarifa fija establecida, dependerá del tamaño del paciente, estado del pelaje, edad, condición sanitaria, entre otros. Por todo lo anterior la confirmación del valor del servicio se realizará en el momento de hacer la recepción del paciente en nuestras instalaciones\"\n- ✅ Utilizar la herramienta \"Think\" antes de responder para garantizar respuestas mejor elaboradas y más precisas\n- ✅ Utilizar la herramienta \"humanAssist\" después de responder en los siguientes casos (esto activará una flag que pausa las respuestas del bot por 1 hora y ejecuta tambien el subworkflow \"humanAssist_notification\"):\n   - Cuando el usuario solicite un domicilio\n   - Cuando el usuario pregunte por productos\n   - Cuando el usuario quiera agendar una cita\n   - Cuando el usuario haga una pregunta que no se pueda responder con la información disponible\n- ✅ Al finalizar cada conversación, despedirse con los emojis: 🐶😊\n- ✅ Cuando recibas un mensaje que inicie con \"EL CONTENIDO DE LA IMAGEN ES:\", interpreta el contenido descrito como si fuera una imagen enviada por el usuario y responde adecuadamente según el contexto:\n   - Si muestra una mascota con síntomas: sugiere agendar una cita veterinaria\n   - Si muestra un documento o carnet de vacunación: ayuda a interpretarlo y sugiere vacunas faltantes\n   - Si muestra una factura o recibo: valida la información y responde consultas relacionadas\n   - Si es una ubicación o dirección: ofrece información sobre cómo llegar a la clínica desde allí\n   - Si es una foto de medicamentos: explica información general sin recetar dosis específicas\n   - Si muestra un comprobante de pago o soporte: responder con \"Muchas gracias 🐶😊\"\n- ✅ Si el pushName contiene solo números, caracteres especiales, está vacío, o no es un nombre, ignorarlo y no usarlo en la conversación\n- ✅ Si detectas que la conversación ya está iniciada, continuar de forma natural \"no saludar\"\n- ✅ Cuando el usuario escriba fuera del horario de trabajo (antes de 8AM o después de 6PM de lunes a sábado, o cualquier hora los domingos), responder con: \"Gracias por escribirnos a Mundo Animal 🐾. Nuestro horario de atención es de lunes a sábado de 8AM a 6PM. Para emergencias o urgencias, por favor contacta al número 3013710366. Te responderemos en nuestro próximo horario de atención 🐶😊\"\n- ✅ Cuando el usuario solicite algun servicio estetico / guarderia envia el siguiente mensaje: \"Por favor, seria tan amable de aportarnos  la siguiente información para agendarle: nombre de la mascota, raza, edad, nombre del propietario, número de cédula , teléfonos.También te recomendamos informarnos oportunamente si tu mascota tiene presencia de garrapatas, pulgas o si actualmente se encuentra en celo (en caso de ser hembra)\"\n\n## ✨ *INICIO DE CONVERSACIÓN*\n\"{{ $now.setZone('America/Bogota').hour < 12 ? 'Buenos días' : $now.setZone('America/Bogota').hour < 18 ? 'Buenas tardes' : 'Buenas noches' }}! Gracias por escribirnos a Mundo Animal 🐾{{ $('Webhook').item.json.body.data.pushName && $('Webhook').item.json.body.data.pushName.match(/^[a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]+$/) ? ', ' + $('Webhook').item.json.body.data.pushName : '' }}, {{ $('Webhook').item.json.body.data.pushName && $('Webhook').item.json.body.data.pushName.match(/^[a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]+$/) ? '¿en qué te puedo ayudar?' : '¿Cuál es tu nombre y en qué te puedo ayudar?' }}:\n• Servicios y precios\n• Horarios\n• Ubicación\n• Certificados de viaje\n• Domicilios veterinarios\n• Información general\"\n\n---\n\n# Instrucción\n\nProporciona respuestas informativas basadas en los datos del negocio.\n\n---\n\n# 🧭 Pasos\n\n## 🔹 Inicio\n\nSaluda al cliente con amabilidad, mostrando total disposición para asistir en sus necesidades relacionadas con el negocio.\n\nEvita decir \"Hola\" o saludar nuevamente si en la conversación ya lo has dicho otras veces.\n\n---\n\n## 🔹 Acción a realizar\nAtiende las necesidades específicas del cliente, que pueden incluir:\n\n- Consulta de servicios y precios: Proporciona información detallada sobre los servicios ofrecidos y sus tarifas.\n- Solicitud de información: Responde consultas sobre horarios, ubicación, procedimientos y cuidados de mascotas.\n- Certificados de viaje: Informa sobre el proceso para obtener certificados de viaje para mascotas.\n- Gestión de citas: IMPORTANTE - NO agendar ni confirmar citas directamente. Ante cualquier solicitud de cita, responder con \"Dame un momento\" y proceder con la tool \"humanAssist\" de manera discreta.\n\n* Para cada interacción:\n\n- Identifica claramente la necesidad principal del cliente\n- Recopila toda la información necesaria para atender su solicitud\n- Confirma con el cliente si su necesidad fue atendida satisfactoriamente\n- Ofrece información adicional relevante según el contexto\n\n---\n\n# 🎯 Objetivo Final\n\nMejorar significativamente la **comunicación y gestión de información**, proporcionando un proceso de atención al cliente **fluido, informativo y eficiente** de inicio a fin.\n\n---\n\n# ❗ Limitaciones\n\nComo asesor de atención al cliente, me enfoco únicamente en:\n\n- Atender las necesidades de información de los clientes.\n- Responder consultas informativas de los clientes.\n\nSiempre manteniendo una atención detallada en **las preferencias del cliente** y la **información específica del negocio**.\n\n## 📚 Documentación de herramientas internas\n\n### 🧠 Think (Nodo de n8n)\n\n**¿Qué es?**\nEl nodo **Think** en n8n es una herramienta diseñada para que el agente (el bot) \"piense en voz alta\" antes de responder. Permite que el bot reflexione y analice la consulta del usuario, generando una respuesta más precisa y elaborada, especialmente útil para preguntas complejas o que requieren razonamiento.\n\n**¿Cómo funciona?**\n- El nodo Think invita al agente a analizar internamente la pregunta, desglosando la información relevante y considerando diferentes escenarios antes de dar una respuesta final.\n- El resultado de este \"pensamiento\" se utiliza para construir una respuesta más fundamentada y confiable para el usuario.\n\n**¿Cuándo se debe usar?**\n- Siempre antes de responder al usuario, para garantizar calidad y precisión en las respuestas.\n- Especialmente útil en casos donde la consulta es ambigua, compleja o requiere interpretación.\n\n**Parámetros esperados:**\n- Entrada: Texto de la consulta del usuario.\n- Salida: Reflexión interna del bot (no visible para el usuario final, pero utilizada para construir la respuesta).\n\n**Integración en el sistema:**\n- Se utiliza como un paso previo a la generación de la respuesta final en el flujo de n8n.\n\n---\n\n### 🧑‍💻 humanAssist (Parámetro booleano en Redis)\n\n**¿Qué es?**\n**humanAssist** es un parámetro booleano almacenado en Redis que permite una transición fluida y natural de la conversación al equipo humano cuando sea necesario, sin que el usuario perciba el cambio. Se utiliza para consultas sobre productos específicos, domicilios, solicitudes de imágenes o temas no cubiertos.\n\n**¿Cómo funciona?**\n- Cuando se detecta una situación que requiere atención especializada (por ejemplo, solicitud de productos específicos, domicilio, citas, imágenes o preguntas específicas), se activa el parámetro `humanAssist:true` en Redis para el usuario correspondiente.\n- Mientras este parámetro esté activo, el bot se desactiva para esa conversación, permitiendo una transición natural al equipo humano.\n- IMPORTANTE: Ante cualquier solicitud que incluya las palabras \"foto\", \"fotos\", \"imagen\", \"imágenes\" junto con \"producto\", \"alimento\", \"medicamento\" o similares, SIEMPRE se debe responder con \"Dame un momento\" y activar humanAssist.\n\n**¿Cuándo se debe usar?**\n- Cuando el usuario solicita información sobre productos\n- Cuando el usuario solicita productos específicos (alimentos, medicamentos, accesorios, etc.)\n- Cuando el usuario solicita servicios a domicilio\n- Cuando el usuario solicita imágenes o fotos\n- Cuando el usuario solicita fotos de productos específicos (SIEMPRE)\n- Cuando el usuario solicita servicios que requieren atención especializada\n- Cuando se necesita información más detallada o personalizada\n- Cuando el usuario insiste en temas específicos (pagos, productos, etc.)\n\n**Parámetros esperados:**\n- **Key:** Identificador único de la conversación o usuario (por ejemplo, `humanAssist:{{ $('Normalize').item.json.message.chat_id }}`).\n- **Value:** `true` (activo) o `false` (inactivo).\n- **TTL:** Tiempo de vida del parámetro en segundos (por ejemplo, 3600 segundos = 1 hora).\n\n**Integración en el sistema:**\n- Se implementa como un nodo de tipo \"Set\" en n8n, conectado a Redis.\n- Cuando se activa, el flujo del bot verifica este parámetro antes de procesar cualquier mensaje.\n- Si está en `true`, el bot no responde y la conversación continúa de manera natural con el equipo humano.\n\n**Ejemplo de configuración:**\n- **Key:** `humanAssist:{{ $('Webhook').item.json.body.data.key.remoteJid }}`\n- **Value:** `true`\n- **TTL:** `3600` (1 hora) "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3220,
        800
      ],
      "id": "4a1c2130-188d-4bf9-a3b0-8fb53bac6c7a",
      "name": "Mundibot"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "tableName": "mundi_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3140,
        980
      ],
      "id": "c0640c87-0c7a-4eab-8de9-e62e1a333732",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "6oB8WaRLlio9tDTl",
          "name": "PostgresPortainer"
        }
      }
    },
    {
      "parameters": {},
      "id": "450a9e32-9382-4a73-8f86-09ce8ac2941e",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2380,
        1160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function: Compute waitSeconds\nconst wordCount = $input.first().json.content.split(' ').filter(w=>w).length;\nreturn [{ json: { \n  context_id: $('Webhook').first().json.body.data.key.remoteJid,\n  message: $('Webhook').first().json.body.data.message.conversation,\n  waitSeconds: wordCount < 5 ? 15 : 10,\n  timestamp: $input.first().json.timestamp\n}}];\n"
      },
      "id": "987aec04-d1b3-419d-b9a0-32befec59afa",
      "name": "get wait seconds",
      "type": "n8n-nodes-base.code",
      "position": [
        280,
        860
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=last_seen:{{ $json.context_id}}",
        "value": "={{$now.toMillis()}}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $json.waitSeconds + 60 }}"
      },
      "id": "47cfa67d-c2ef-4654-8341-8abe1b16b420",
      "name": "Set last_seen",
      "type": "n8n-nodes-base.redis",
      "position": [
        660,
        700
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "waiting_reply",
        "key": "=waiting_reply:{{$json.context_id}}",
        "options": {}
      },
      "id": "69a169f6-69bb-4de5-89eb-921127988e20",
      "name": "Get waiting_reply",
      "type": "n8n-nodes-base.redis",
      "position": [
        660,
        1060
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ff99444-753d-4ef7-865c-7115761526b8",
              "name": "waiting_reply",
              "type": "string",
              "value": "={{ $json.waiting_reply }}"
            },
            {
              "id": "58ad6981-c35a-4dd6-b1cd-7c446b85e738",
              "name": "context_id",
              "type": "string",
              "value": "={{ $('get wait seconds').item.json.context_id }}"
            },
            {
              "id": "bd0535a2-be03-436b-8a2e-222c3e26fd04",
              "name": "message",
              "type": "string",
              "value": "={{ $('get wait seconds').item.json.message }}"
            },
            {
              "id": "2f583f32-f231-4407-b773-c08b38d464f0",
              "name": "=waitSeconds",
              "type": "number",
              "value": "={{ $('get wait seconds').item.json.waitSeconds }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1af198cd-4eec-4f8a-81c7-8b4a3f25eace",
      "name": "Mod input",
      "type": "n8n-nodes-base.set",
      "position": [
        820,
        1060
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8136ea21-d798-41fd-81ed-5c0e7fda73c5",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.waiting_reply != null}}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "65d521c5-c73c-4098-9eb5-a5d93e0dc147",
      "name": "waiting_reply?",
      "type": "n8n-nodes-base.if",
      "position": [
        980,
        1060
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=waiting_reply:{{ $json.context_id }}",
        "value": "true",
        "expire": true,
        "ttl": "={{ $json.waitSeconds }}"
      },
      "id": "fb287471-13ef-4070-9f65-c77dc797d4b9",
      "name": "Set waiting_reply",
      "type": "n8n-nodes-base.redis",
      "position": [
        1160,
        1060
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "buffer",
        "key": "=buffer_in:{{ $('get wait seconds').item.json.context_id }}",
        "options": {}
      },
      "id": "ddaf8bef-f567-48a8-a496-27552dcc82f2",
      "name": "Get buffer",
      "type": "n8n-nodes-base.redis",
      "position": [
        2380,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer_in:{{ $('WaitSeconds').item.json.context_id }}"
      },
      "id": "e697a87d-5c8f-4086-8397-a6a8d2c1ab60",
      "name": "Delete buffer_in",
      "type": "n8n-nodes-base.redis",
      "position": [
        2780,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=waiting_reply:{{ $('WaitSeconds').item.json.context_id }}"
      },
      "id": "633e22d7-45f6-4ceb-852d-c4c28c3c306c",
      "name": "Delete waiting_reply",
      "type": "n8n-nodes-base.redis",
      "position": [
        2780,
        1120
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.waitSeconds }} "
      },
      "id": "e53868e8-f7c7-4b64-b19b-8d86a80e8f12",
      "name": "WaitSeconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        1320,
        1060
      ],
      "webhookId": "c218d471-2f0f-4bd7-87d1-5431ac602211",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer_in:{{$json.context_id}}",
        "messageData": "={\"text\": \"{{ $json.message || $('Set Multimedia Fields').item.json.content }}\", \"timestamp\": \"{{ $json.timestamp }}\"}"
      },
      "id": "563d3158-d454-423e-9381-4c1c72d12202",
      "name": "Buffer messages",
      "type": "n8n-nodes-base.redis",
      "position": [
        440,
        860
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=buffer_count:{{$json.context_id}}",
        "expire": "={{$json.waitSeconds + 60}}"
      },
      "id": "6738333d-f66c-4fe9-9be1-fc553931e7cf",
      "name": "Set buffer_count increment",
      "type": "n8n-nodes-base.redis",
      "position": [
        660,
        860
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "last_seen",
        "key": "=last_seen:{{$json.context_id}}",
        "options": {}
      },
      "id": "554a17b4-d3b2-4dc4-813e-56211442fd4c",
      "name": "Get last_seen",
      "type": "n8n-nodes-base.redis",
      "position": [
        1480,
        1060
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "count",
        "key": "=buffer_count:{{ $('Mod input').item.json.context_id }}",
        "options": {}
      },
      "id": "ad4b26b0-3199-44c3-97a2-b9e8b79ca36d",
      "name": "Get buffer_count",
      "type": "n8n-nodes-base.redis",
      "position": [
        1640,
        1060
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8d80ab4-74a2-4c30-8500-8dddc5802eec",
              "name": "message",
              "type": "string",
              "value": "={{ $json.mensajes }}"
            },
            {
              "id": "7e7fcee4-14b3-4393-b516-b07a53c018b3",
              "name": "telefono",
              "type": "string",
              "value": "={{$json.message.chat_id.split('@')[0]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e55177ef-b9ab-483c-92b0-33acc4319b53",
      "name": "Map ouput",
      "type": "n8n-nodes-base.set",
      "position": [
        2780,
        800
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "0f294c51-0629-4ae1-a009-68c2f5fd30b5",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{$json.count != null && Number($json.count) >= 1}}",
              "rightValue": ""
            },
            {
              "id": "1626238d-fb00-4ce8-89df-a40a4f29f52a",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{$('Get last_seen').item.json.last_seen != null}}",
              "rightValue": ""
            },
            {
              "id": "df819099-1f6e-4bee-a017-32b729c836a3",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{($now.toMillis() - $('Get last_seen').item.json.last_seen) >= $('Mod input').item.json.waitSeconds * 1000}}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "71371051-40fd-4c57-8b17-439561e746cd",
      "name": "Check Inactivity + Count",
      "type": "n8n-nodes-base.if",
      "position": [
        2180,
        1060
      ],
      "typeVersion": 2.2,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "a8b2c3f4-af92-4c5b-af7c-d285d305d6d1",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1160,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": "={{ Math.max(0, Math.ceil(( $('Mod input').item.json.waitSeconds * 1000 - ($now.toMillis() - $('Get last_seen').item.json.last_seen)) / 1000)) }}"
      },
      "id": "5a3d0935-bd1d-41a1-9510-44809838f7e8",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2560,
        1160
      ],
      "webhookId": "b8e2e214-f82b-49c2-96e2-91e093137857",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "188d4da9-570d-4200-b5bc-03df2d2a101a",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2980,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mundoanimal",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2040,
        860
      ],
      "id": "0c960393-57c7-43e2-9cfe-ca323d47c737",
      "name": "Webhook",
      "webhookId": "1ea9a5a0-b675-4134-a8e0-74ded3ea552c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c12e5c6-39f3-47d0-a76d-1f4a09721097",
              "name": "instance.server_url",
              "value": "={{ $('Webhook').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "c3dd8ebb-a497-41a0-b4ba-8fe81bc86a19",
              "name": "instance.name",
              "value": "={{ $('Webhook').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "a588e0d6-e0f1-460e-b95d-f47b8c010f53",
              "name": "instance.apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "0911dc7a-b010-4739-a32f-175501a564cd",
              "name": "message.message_id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "b82c178e-28b5-4baf-84ce-61c8e65e4ebd",
              "name": "message.chat_id",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "958e97ce-3b9b-4584-9802-5c8c3bc2a728",
              "name": "message.content_Type",
              "value": "={{ $('Webhook').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "d0004926-731e-4eeb-9adc-b2f6521ac867",
              "name": "message.content",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "4ae42240-d806-4112-8318-3fca2859c0b5",
              "name": "message.timestamp",
              "value": "={{ $('Webhook').item.json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "d7ba3042-5768-4ab8-895f-7a703321798c",
              "name": "user.name",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        860
      ],
      "id": "ee90ecd9-8df4-43d5-a229-5e06efab6908",
      "name": "Normalize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47c72408-0108-486f-9b4e-3af71e182096",
              "name": "mensajes",
              "value": "={{ $json.buffer.reverse().join(\"\\n\") }}",
              "type": "string"
            },
            {
              "id": "f85bf6e7-ae2a-42ec-a7b7-46e601af39ef",
              "name": "message.chat_id",
              "value": "={{ $('WaitSeconds').item.json.context_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        960
      ],
      "id": "f5a4b7a8-e613-4028-9fa2-1ab915e3f2f6",
      "name": "Unir_Mensajes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ccc0334-30c7-4a6b-885e-9efcc3bdc80d",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1880,
        860
      ],
      "id": "91c13051-8ce5-4ec8-b6b9-9ebded3569e3",
      "name": "ResponderUnoMismo"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "humanAssist",
        "key": "=humanAssist:{{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "options": {}
      },
      "id": "b1011503-f644-42b2-9803-c28f44342244",
      "name": "Get HumanFlag",
      "type": "n8n-nodes-base.redis",
      "position": [
        -1320,
        860
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=humanAssist:{{ $json.body.data.key.remoteJid }}",
        "value": "=true",
        "expire": true,
        "ttl": "=7200"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1700,
        1060
      ],
      "id": "10275edb-5a4d-4bc1-98d5-e33509d338fe",
      "name": "Set HumanFlag",
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cce81fd-f043-49e6-a98b-472c3b56a8d9",
              "leftValue": "={{ $json.humanAssist }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1160,
        860
      ],
      "id": "1d1c74af-1dbc-4e34-933b-69e74c59dae5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -960,
        1060
      ],
      "id": "e7d91f66-9355-4722-8361-9d2d5af84f2e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1320,
        1060
      ],
      "id": "a0ae11ca-078c-4668-b185-35ad7bbde625",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content_Type }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "082de8ea-d004-4da5-bdc8-6e670afa16ba"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0662a5d9-1f5b-4079-b302-60209fa1e8b0",
                    "leftValue": "={{ $json.message.content_Type }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f7903fc0-dc6d-4243-b4f9-07967d7d84dc",
                    "leftValue": "={{ $json.message.content_Type }}",
                    "rightValue": "stickerMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f61b8da-8de2-463e-9d6b-58c04ab26991",
                    "leftValue": "={{ $json.message.content_Type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c08ea041-7aec-4763-b409-95eb0b737afb",
                    "leftValue": "={{ $json.message.content_Type }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d705951e-57e9-466b-b805-15157186f4cf",
                    "leftValue": "={{ $json.message.content_Type }}",
                    "rightValue": "locationMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Location"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7637eb01-4b35-45c1-b9e5-c12448176670",
                    "leftValue": "={{ $json.message.content_Type }}",
                    "rightValue": "reactionMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reaction"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Otro"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -800,
        780
      ],
      "id": "bf279848-d979-42aa-9f23-3143aff1ccd4",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        860
      ],
      "id": "87b668ce-0dad-4bd2-a9b6-4714d4519465",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lXYqrNQbtsJxj5Dt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize').item.json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalize').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalize').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.message.message_id }}"
            },
            {
              "name": "ConvertToMp4",
              "value": "={{Boolean(false)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        700
      ],
      "id": "b0f8d5c8-be6e-4e08-a5b1-160381f1c0f2",
      "name": "DescargaImg"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=El usuario dijo esto:  {{ $('DescargaImg').item.json.caption }}\nSobre esta imagen.\n\nSi no dijo nada descríbela, si ves texto, transcríbela, será importante para próximas consultas,\n\nInicia diciendo \"EL CONTENIDO DE LA IMAGEN ES:\"\nTermina diciendo \"EL USUARIO ESCRIBIÓ ESTO: {{ $('DescargaImg').item.json.caption }}\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -240,
        700
      ],
      "id": "7f490f13-056b-42e1-b853-12f950ddd937",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "lXYqrNQbtsJxj5Dt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        1020
      ],
      "id": "311e46cc-fc61-40e2-9721-0589a5169738",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -400,
        700
      ],
      "id": "7c881b74-bbbf-4bb5-99a7-54c2beebfb3b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -400,
        860
      ],
      "id": "705bc05d-bbd2-450c-a156-582d426dc7c8",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize').item.json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalize').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalize').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.message.message_id }}"
            },
            {
              "name": "ConvertToMp4",
              "value": "={{Boolean(false)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        860
      ],
      "id": "f7a06f9d-02ba-4d66-bcb7-ba6d4d7ab3ec",
      "name": "DescargaAudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalize').item.json.instance.server_url }}/chat/getBase64FromMediaMessage/{{ $('Normalize').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalize').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "ConvertToMp4",
              "value": "={{Boolean(false)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        1020
      ],
      "id": "f48e1d3b-19d7-42ce-a2f8-f969511c6e7e",
      "name": "DescargaDocumento"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -400,
        1020
      ],
      "id": "c15949da-acb6-4a7e-856d-9bcef6cb4ba7",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "Lo siento, no puedo comprender,  podrías escribirlo?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -660,
        1240
      ],
      "id": "ec1bfc9e-bd4e-48f6-a3f1-54a40ec814d3",
      "name": "Formato No Soportado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86b247a9-ddb6-4609-ada4-f51fb0f6153a",
              "name": "message.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "ed24825e-26fc-41e8-ab05-6fd17a62060a",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "ba85520c-87d3-4b84-8c23-f760994c4ae7",
              "name": "timestamp",
              "value": "={{ $('Switch').item.json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "85b86f1b-a52c-4235-a64d-de983a11b4bd",
              "name": "caption",
              "value": "={{ $('DescargaImg').item.json.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        700
      ],
      "id": "22f2ac15-59cd-4dcd-a24a-aa612b8eed13",
      "name": "Edit IMG Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "437383dd-e428-4038-8e4d-dd74fbb2245d",
              "name": "message.chat_id",
              "value": "={{ $('Switch').item.json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "0a3ce474-4e50-4fd9-842b-0b47607df7dc",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "27cdb7df-12ad-4fad-9297-8688383b4cc6",
              "name": "timestamp",
              "value": "={{ $('Switch').item.json.message.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        860
      ],
      "id": "b1080e36-043d-47ed-b6da-8e6b06fe5d3a",
      "name": "Edit AUDIO Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bad8c0f0-5f89-49f7-9f58-b497300a32d6",
              "name": "message.chat_id",
              "value": "={{ $json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "0a3ce474-4e50-4fd9-842b-0b47607df7dc",
              "name": "content",
              "value": "={{ $json.content.conversation }}",
              "type": "string"
            },
            {
              "id": "52b634a1-d0d0-4353-bac2-28959f1f20ba",
              "name": "timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        1020
      ],
      "id": "b3709b56-2f54-4434-b6da-222ce8aeb4d5",
      "name": "Edit Documents Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d6214bc-e917-475f-b7bc-76f12b75309c",
              "name": "message.chat_id",
              "value": "={{ $json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "0a3ce474-4e50-4fd9-842b-0b47607df7dc",
              "name": "content",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "a8cda8c7-82d2-4fce-abff-245034e7c8e7",
              "name": "timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        560
      ],
      "id": "a862349b-bbe0-495d-b37b-8aa9d91d6ac1",
      "name": "Edit TEXT Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "196f27b8-7f25-4649-92e3-e45e2deb7197",
              "name": "message.chat_id",
              "value": "={{ $json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "7d9b7bef-a57e-44e6-8e90-37a08bdddff1",
              "name": "content",
              "value": "=La dirección que te envio es\n\nLatitud: {{ $('Banlist').item.json.body.data.message.locationMessage.degreesLatitude }}\n\nLongitud: {{ $('Banlist').item.json.body.data.message.locationMessage.degreesLongitude }}\n\nNombre: {{ $json.body.data.message.locationMessage.name }}\n\nDirección: {{ $json.body.data.message.locationMessage.address }}\n\njpegThumbnail: {{ $('Webhook').item.json.body.data.message.locationMessage.jpegThumbnail }}\n\nContext-Info: {{ $json.body.data.contextInfo }}",
              "type": "string"
            },
            {
              "id": "f433b454-5f6c-4efd-99c9-c2b082025b7b",
              "name": "timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        1180
      ],
      "id": "c4f57fca-d6c2-4709-949a-6ec682f87498",
      "name": "Edit MAPS Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d6214bc-e917-475f-b7bc-76f12b75309c",
              "name": "message.chat_id",
              "value": "={{ $json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "0a3ce474-4e50-4fd9-842b-0b47607df7dc",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "a8cda8c7-82d2-4fce-abff-245034e7c8e7",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        860
      ],
      "id": "f68c4890-8a14-4134-9763-87b0a84bc9e3",
      "name": "Set Multimedia Fields"
    },
    {
      "parameters": {
        "description": "Utiliza la herramienta para pensar en algo. No obtendrá nueva información ni modificará la base de datos, sino que se limitará a añadir el pensamiento al registro. Utilízala cuando necesites un razonamiento complejo o algo de memoria caché."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        3280,
        1000
      ],
      "id": "855dbbbf-dc3b-4d14-9db4-1c017b6d0403",
      "name": "Think"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as banned \nFROM banlist \nWHERE phone_number = '{{ $json.body.data.key.remoteJid.split(\"@\")[0] }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1700,
        860
      ],
      "id": "ff03b531-85e1-4b8f-b053-eec9b5d485fc",
      "name": "ConsultarBanlist",
      "credentials": {
        "postgres": {
          "id": "6oB8WaRLlio9tDTl",
          "name": "PostgresPortainer"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "860fe029-69f2-449c-9fe0-f2fd2b42f1d0",
              "leftValue": "={{ $json.banned }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        860
      ],
      "id": "e23ab000-0be2-4788-941a-c57ec280f50d",
      "name": "UsuarioBaneado"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=humanAssist:{{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "value": "true",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        3400,
        1000
      ],
      "id": "8684ebda-2640-42b4-8a8f-bc22b4e56520",
      "name": "humanAssist",
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3020,
        980
      ],
      "id": "de4375e9-4ae9-4459-9fcc-c23eac5bdce8",
      "name": "IA Model",
      "credentials": {
        "openAiApi": {
          "id": "lXYqrNQbtsJxj5Dt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fefddb9c-6b90-4f73-a4a2-0ae4220bb202",
              "leftValue": "={{ $json.count }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        1060
      ],
      "id": "7cf92e46-f195-41a2-b0bf-d39d789f09e7",
      "name": "Empty_Count"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60bc18ab-77fe-4fe3-9d7a-1bd0bb1b1ac0",
              "name": "count",
              "value": "=1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        1160
      ],
      "id": "a67977fb-95a9-499e-8a8e-583b2c3164c0",
      "name": "Default_Count"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n.mangomorado.com/mcp/MCP/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        3540,
        1000
      ],
      "id": "bd233775-96b9-4e30-9191-4af6f5054f82",
      "name": "Base de Conocimiento"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "humanAssist",
        "key": "=humanAssist:{{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "options": {}
      },
      "id": "fdf19d81-dacf-4f2b-9c9d-384a40dd5f8a",
      "name": "Get HumanFlag1",
      "type": "n8n-nodes-base.redis",
      "position": [
        3900,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=573013710366"
            },
            {
              "name": "text",
              "value": "=🐶 El número +{{ $('Map ouput').item.json.telefono }} requiere respuesta 🐈"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4260,
        740
      ],
      "id": "db09215b-751e-4adf-9ae8-31de59a4cc14",
      "name": "Mensaje a Humano"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Mundibot').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4420,
        740
      ],
      "id": "fde5180f-8513-4223-baaf-d7c41f2d077c",
      "name": "Mensaje a Cliente"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=humanAssist:573217058135@s.whatsapp.net"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1180,
        1340
      ],
      "id": "5a934ee8-8149-4dc0-ba9f-d1000a21930a",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.server_url }}/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').item.json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $('Mundibot').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4260,
        920
      ],
      "id": "44ebe455-9dcc-40b9-912f-080835ecf0b5",
      "name": "Mensaje a Cliente1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ced12d3-ca4b-4c32-9cd4-72d23ae19dd5",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Dame un momento",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f8a8d7ea-3a02-4a93-acdf-204032670dcd",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Déjame verificar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b6dbebf5-1d8f-453e-8a17-05a22fb856e3",
              "leftValue": "={{ $json.output }}",
              "rightValue": "verificando ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3520,
        800
      ],
      "id": "59cd955a-acc8-4b12-8414-df35f8741fca",
      "name": "HumanFlag Check"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=humanAssist:{{ $('Unir_Mensajes').item.json.message.chat_id }}",
        "value": "=true",
        "expire": true,
        "ttl": "=7200"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3700,
        660
      ],
      "id": "beffb438-1460-44eb-b5d8-d066efa9f75c",
      "name": "Set HumanFlag1",
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1cce81fd-f043-49e6-a98b-472c3b56a8d9",
              "leftValue": "={{ $json.humanAssist }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4060,
        800
      ],
      "id": "39bfa9e4-9f9b-4ffa-964d-fc209cb817f3",
      "name": "Human Notificacion Check"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer_count:{{ $('WaitSeconds').item.json.context_id }}"
      },
      "id": "ce30ff4a-dce9-4544-8a7d-437550cd5e1e",
      "name": "Delete buffer_count",
      "type": "n8n-nodes-base.redis",
      "position": [
        2780,
        1280
      ],
      "typeVersion": 1,
      "credentials": {
        "redis": {
          "id": "i4ZpaERVB1p6PKpH",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Mundibot": {
      "main": [
        [
          {
            "node": "HumanFlag Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Mundibot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get wait seconds": {
      "main": [
        [
          {
            "node": "Buffer messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set last_seen": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get waiting_reply": {
      "main": [
        [
          {
            "node": "Mod input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mod input": {
      "main": [
        [
          {
            "node": "waiting_reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "waiting_reply?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set waiting_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set waiting_reply": {
      "main": [
        [
          {
            "node": "WaitSeconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get buffer": {
      "main": [
        [
          {
            "node": "Unir_Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete buffer_in": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete waiting_reply": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WaitSeconds": {
      "main": [
        [
          {
            "node": "Get last_seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer messages": {
      "main": [
        [
          {
            "node": "Set buffer_count increment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set last_seen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get waiting_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set buffer_count increment": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last_seen": {
      "main": [
        [
          {
            "node": "Get buffer_count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get buffer_count": {
      "main": [
        [
          {
            "node": "Empty_Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map ouput": {
      "main": [
        [
          {
            "node": "Mundibot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Inactivity + Count": {
      "main": [
        [
          {
            "node": "Get buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Inactivity + Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ResponderUnoMismo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unir_Mensajes": {
      "main": [
        [
          {
            "node": "Delete buffer_in",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete waiting_reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete buffer_count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Map ouput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResponderUnoMismo": {
      "main": [
        [
          {
            "node": "ConsultarBanlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set HumanFlag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HumanFlag": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit TEXT Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DescargaImg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DescargaImg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DescargaAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DescargaDocumento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit MAPS Fields",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Formato No Soportado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit AUDIO Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DescargaImg": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit IMG Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Documents Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DescargaAudio": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DescargaDocumento": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit IMG Fields": {
      "main": [
        [
          {
            "node": "Set Multimedia Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit AUDIO Fields": {
      "main": [
        [
          {
            "node": "Set Multimedia Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Documents Fields": {
      "main": [
        [
          {
            "node": "Set Multimedia Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit TEXT Fields": {
      "main": [
        [
          {
            "node": "get wait seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit MAPS Fields": {
      "main": [
        [
          {
            "node": "Set Multimedia Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Multimedia Fields": {
      "main": [
        [
          {
            "node": "get wait seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Mundibot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ConsultarBanlist": {
      "main": [
        [
          {
            "node": "UsuarioBaneado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UsuarioBaneado": {
      "main": [
        [
          {
            "node": "Get HumanFlag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "humanAssist": {
      "ai_tool": [
        [
          {
            "node": "Mundibot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IA Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mundibot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Empty_Count": {
      "main": [
        [
          {
            "node": "Check Inactivity + Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default_Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default_Count": {
      "main": [
        [
          {
            "node": "Check Inactivity + Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base de Conocimiento": {
      "ai_tool": [
        [
          {
            "node": "Mundibot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get HumanFlag1": {
      "main": [
        [
          {
            "node": "Human Notificacion Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje a Humano": {
      "main": [
        [
          {
            "node": "Mensaje a Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje a Cliente": {
      "main": [
        []
      ]
    },
    "HumanFlag Check": {
      "main": [
        [
          {
            "node": "Set HumanFlag1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get HumanFlag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HumanFlag1": {
      "main": [
        [
          {
            "node": "Get HumanFlag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Notificacion Check": {
      "main": [
        [
          {
            "node": "Mensaje a Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje a Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete buffer_count": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e73a8490-01ee-4071-b96b-588ba585c877",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "492216dba7ead6f870ef4169d10664ed44bcfc662cf5e8e4907018d95ca96a66"
  },
  "id": "IQPd8PKMIrWaUw2s",
  "tags": [
    {
      "createdAt": "2025-04-08T03:26:20.505Z",
      "updatedAt": "2025-04-08T03:26:20.505Z",
      "id": "6DZhrxpTyzDPm6sI",
      "name": "Agenda"
    },
    {
      "createdAt": "2025-03-25T21:31:30.282Z",
      "updatedAt": "2025-03-25T21:31:30.282Z",
      "id": "Nx7TdHXx7BAlOiRv",
      "name": "EvolutionAPI"
    }
  ]
}